.mainDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.search {
  width: 50%;
  height: 100%;
  border: 2px solid black;
  background-color: rgb(202, 138, 138);
}

.input-field {
  position: absolute;
  top: 300px;
  left: 120px;
  width: 500px;
  height: 100px;
  border: 3px solid black;
  border-radius: 25px;
  text-align: center;
  font-size: 50px;
  background-color: rgb(205, 168, 168);
}

.button {
  position: absolute;
  top: 410px;
  left: 300px;
  width: 150px;
  height: 100px;
  border: 3px solid black;
  cursor: pointer;
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: indianred;
}

.button:hover {
  background-color: rgb(206, 63, 63);
}

.searched {
  width: 50%;
  height: 100%;
  border: 2px solid black;
  background-color: rgb(205, 168, 168);
}

.image {
  position: relative;
  top: 150px;
  left: 180px;
}

.headers {
  position: relative;
  top: 150px;
  left: 295px;
  font-size: 40px;
}